name: Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Listring
        run: ls -la

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          port: ${{ secrets.PORT }}
          script: |
            # cat ~/.ssh/id_rsa.pub
            # mkdir ~/.cicd
            # cd ~/.cicd
            # git clone git@github.com:umardevid/github-ci-cd-vps.git
            ls -la
