name: Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Listring & creating folder
        run: ls -la
        run: mkdir artifact
        run: echo hello > artifact/world.txt
        run: ls -la
